<div class="row">
  <div class="span6">
    <div class="well">
      <div class="row-fluid">
        <div class="span4">
          <img src="/assets/sylvestre-mergulhao-small.jpg" />
        </div>
        <div class="span8">
          <h2>Sylvestre Mergulhão</h2>
          <p>Empreendedor e programador. Fundador do <a href="http://startupdev.com.br">Startup DEV</a> e sócio da <a href="http://helabs.com.br/">HE:labs</a>.</p>
          <div class="row-fluid">
            <div class="span6">
              <br/>
              <a href="http://startupdev.com.br"><img src="/assets/logo-startupdev.png" /></a>
            </div>
            <div class="span6">
              <a href="http://helabs.com.br/"><img src="/assets/logo-helabs.png" /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="span6">
    &nbsp;
  </div>
</div>