/* GLOBAL STYLES */

body {
  font-size: 100%;
  line-height: 1.25;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  background: transparent url(/assets/images/bg-body.png);
  color: #2B2021;
}

a, a:active, a:visited {
  color: #D8CB63;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 1.4em 0;
  line-height: 1.4;
}


#show-info {
  display: none;
}

/* HEADER */

header {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 240px;
  padding: 20px;
  background-color: #3C3032;
  border-right: 5px solid #2B2021;
  -moz-box-shadow: inset -10px 0 10px rgba(0,0,0,.2);
  -webkit-box-shadow: inset -10px 0 10px rgba(0,0,0,.2);
  -ms-box-shadow: inset -10px 0 10px rgba(0,0,0,.2);
  -o-box-shadow: inset -10px 0 10px rgba(0,0,0,.2);
  box-shadow: inset -10px 0 10px rgba(0,0,0,.2);
  color: #fff;
}

header hgroup {
  margin: 0 0 2em;
}

header hgroup h1 {
  font-size: 2em;
  letter-spacing: -1px;
}

header hgroup h2 {
  font-style: italic;
  color: #ccc;
}

header a#brand,
header a#brand:active,
header a#brand:visited {
  color: #fff;
}

header a#brand:hover {
  color: #fff;
  text-decoration: none;
  opacity: .8;
}

header p#about img {
  margin: 0 1em 0 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 2px solid #fff;
  float: left;
}

header ul li {
  padding: .5em 0 0 2em;
}

header ul li a {
  display: block;
  text-indent: -9999px;
}

header ul li a:hover {
  opacity: .8;
}

header ul li a#startupdev-link {
  display: block;
  width: 180px;
  height: 35px;
  background: transparent url(/assets/images/logo-startupdev.png) no-repeat 0 0;
}

header ul li a#helabs-link {
  display: block;
  width: 143px;
  height: 50px;
  background: transparent url(/assets/images/logo-helabs.png) no-repeat 0 0;
}

/* SECTION */

section[role="main"] {
  margin-left: 300px;
  padding: 20px 40px;
  font-size: 1.2em;
  width: 50%;
}

section[role="main"] ul,
section[role="main"] ol {
  margin: 1.4em 2em;
}

section[role="main"] blockquote {
  margin: 0 4em;
  font-style: italic;
  font-size: .9em;
}

section[role="main"] ul {
  list-style-type: disc;
}

section[role="main"] ol {
  list-style-type: decimal;
}

section[role="main"] ul li,
section[role="main"] ol li {
  line-height: 1.4;
}

section[role="main"] a {
  color: #AA3B20;
}

section[role="main"] hgroup h1,
section[role="main"] hgroup h2 a {
  font-size: 2.2em;
  font-family: 'Raleway', Helvetica, Arial, Sans-Serif;
  font-weight: 200;
  letter-spacing: -1px;
  color: #AA3B20;
}

section[role="main"] hgroup h2 a {
  font-size: 1.5em;
}

section[role="main"] hgroup h1 + h2,
section[role="main"] hgroup h3 {
  color: #696969;
  font-size: .8em;
  font-style: italic;
}

section[role="main"] .tags {
  margin: 0 0 3em;
}

section[role="main"] .tags a {
  margin: 0 .5em 0 0;
  padding: 3px 10px;
  background: #AA3B20;
  color: #fff;
  font-size: .8em;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

section[role="main"] .tags a:hover {
  background: #34B0E4;
  text-decoration: none;
}

#post-image {
  margin: 1.4em 0 0;
  text-align: center;
}

#post-image a {
  margin: auto;
  display: inline-block;
}

/* FORMS */

.search-query {
  width: 100%;
  background: #fff url(/assets/images/magnifying-glass.png) no-repeat center right;
  padding: 6px 10px;
  border: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  font-size: .9em;
}

.search-query:focus {
  -moz-box-shadow: 0 0 15px rgba(255,255,255,.6);
  -webkit-box-shadow: 0 0 15px rgba(255,255,255,.6);
  -ms-box-shadow: 0 0 15px rgba(255,255,255,.6);
  -o-box-shadow: 0 0 15px rgba(255,255,255,.6);
  box-shadow: 0 0 15px rgba(255,255,255,.6);
}

/* FOOTER */

#go-to-top {
  display: none;
}

#go-to-top a {
  display: block;
  width: 80px;
  padding: 8px 0;
  font-weight: bold;
  text-align: center;
  background: #fff;
  color: #3C3032;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

#go-to-top a:hover {
  -moz-box-shadow: 0 0 20px rgba(0,0,0,.8);
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,.8);
  -ms-box-shadow: 0 0 20px rgba(0,0,0,.8);
  -o-box-shadow: 0 0 20px rgba(0,0,0,.8);
  box-shadow: 0 0 20px rgba(0,0,0,.8);
  text-decoration: none;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 240px;
  padding: 20px;
  font-size: .9em;
  color: #fff;
}

footer p {
  margin: 1em 0;
}

footer p#copy {
  padding: .5em 0 1em;
  border-bottom: 1px dotted #696969;
  font-size: .9em;
  color: #ccc;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 760px) {
  body {
    -webkit-text-size-adjust: none;
    font-size: 75%;
  }

  header p#about img {
    width: 48px;
  }

  header ul li {
    padding: .5em 0 0 0;
  }

  header,
  footer {
    width: 200px;
  }

  section[role="main"] {
    margin-left: 260px;
  }

  section[role="main"] img {
    max-width: 280px;
  }
}

@media only screen and (min-width: 1024px) {
  header {
    padding: 20px 60px 20px 20px;
  }

  section[role="main"] {
    margin-left: 340px;
  }
}

@media only screen and (min-width: 1290px) {
  section[role="main"] {
    width: 40%;
  }
}

@media only screen and (max-device-width: 480px) {
  #show-info {
    display: block;
    position: absolute;
    top: 20px;
    right: 10px;
    padding: 10px 20px;
    color: #fff;
    background-color: #303030;
    z-index: 999;
  }

  header {
    position: relative;
    top: none;
    bottom: none;
    left: none;
    width: 280px;
    margin: auto;
    padding: 20px;
    border-right: none;
    border-bottom: 5px solid #2B2021;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
  }

  header p#about,
  header ul {
    display: none;
  }

  header ul li {
    padding: .5em 0;
  }

  header ul li a {
    margin: auto;
  }

  section[role="main"] {
    width: 280px;
    margin-left: 0;
    margin: auto;
    padding: 20px 0;
  }

  section[role="main"] img {
    max-width: 280px;
  }

  footer {
    position: relative;
    bottom: none;
    left: none;
    width: 280px;
    margin: 20px auto;
    padding: 20px 0;
    font-size: 1.2em;
    color: #3C3032;
  }

  footer a {
    color: #696969;
  }

  footer p#copy {
    color: #696969;
  }
}