<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  <article>
    <a href="#" id="show-info">sobre &#8595;</a>
    <header>
      {% if page.home == true %}
        <hgroup>
          <h1>mergulhao.info</h1>
          <h2>Por Sylvestre Mergulhão</h2>
        </hgroup>
      {% else %}
        <a id="brand" href="/">
          <hgroup>
            <h1>mergulhao.info</h1>
            <h2>Por Sylvestre Mergulhão</h2>
          </hgroup>
        </a>
      {% endif %}

      <form class="navbar-search pull-right visible-desktop" action="http://www.google.com/cse">
        <input type="hidden" name="cx" value="010524361318296033268:c-e-2ijyy_i" />
        <input type="hidden" name="cof" value="FORID:0" />
        <input name="q" class="search-query" type="text" placeholder="buscar por..." />
      </form>

      <p id="about"><img src="/assets/images/mergulhao-thumb.png" alt="Foto de Sylvestre Mergulhão" /> Sylvestre Mergulhão é empreendedor e programador. Fundador do <a href="http://startupdev.com.br">Startup DEV</a> e sócio da <a href="http://helabs.com.br/">HE:labs</a>.</p>

      <ul>
        <li><a href="http://startupdev.com.br" id="startupdev-link">Startup DEV</a></li>
        <li><a href="http://helabs.com.br/" id="helabs-link">HE:labs</a></li>
      </ul>
    </header>
    <hr />
    <section role="main">
      {{ content }}
    </section>
    <hr />
    <footer>
      <div id="go-to-top"><a href="#">&#8593; topo</a></div>
      <p id="copy">Copyright &copy; 2012 mergulhao.info</p>
      <p>Veja minhas palestras no <a href="https://speakerdeck.com/u/mergulhao" rel="external">Speaker Deck</a> e me acompanhe também no twitter <a href="http://twitter.com/smergulhao" target="_blank" rel="external,nofollow">@smergulhao</a>.</p>
      <p><a href="http://pt.wikipedia.org/wiki/Rio_de_Janeiro_%28cidade%29" rel="external,nofollow">Rio de Janeiro</a>, <a href="http://pt.wikipedia.org/wiki/Brasil" rel="external,nofollow">Brasil</a>.</p>
    </footer>
  </article>
</body>
</html>