---
layout: default
---

<div class="page-header">
  <h1>
    {{ page.title }}
    <small>Postado em {{ page.date | date: "%d/%m/%Y" }}</small>
  </h1>
</div>

{% if page.image %}
<ul class="thumbnails pull-left">
  <li class="span3">
    <a href="{{ page.image }}" class="thumbnail">
      <img src="{{ page.image }}" alt="{{ page.title }}">
    </a>
  </li>
</ul>
{% endif %}

{{ content }}

{% if page.tags.size > 0 %}
  {% for tag in page.tags %}
    <span class="label label-inverse"><a href="/tags/#{{tag}}">{{tag}}</a></span>
  {% endfor %}
{% endif %}